{% extends "layout.html" %}
{% block body %}
<div class="row box-items" style="position: relative; height: 921.282px;">
    <div class="col col-m-12 col-t-6 col-d-4 box-item f-mockup animated" data-sr-id="14" style="visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: transform 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.5s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
        <div class="image">
            <a href="{{ url_for('robots.pcmiler') }}" class="has-popup"><img src="../static/images/pcmiler.png" alt=""></a>
        </div>
        <div class="content-box">
            <div class="category">Web Scrapping</div>
            <a href="{{ url_for('robots.pcmiler') }}" class="name has-popup">PC Miler</a>
            <p>
                Miles scrapper using PC Miler platform and zipcodes.
            </p>
        </div>
    </div>
</div>
<div class="clear"></div>
{% endblock %}