{% extends "robots_layout.html" %}
{% block form %}
    <div>
        <span class="input_data">
            <input type="file" id="input_data" name="input_data">
        </span>
        <label for="input_data">
            <img src="../static/images/upload_icon.png" alt="upload_icon" width="20px" style="margin-right: 12px;">
            <span>Upload your excel file...</span>
        </label>
        <br><br>
        <button class="btn" style="background-color: #3A7734" type="submit">
            <span>&nbsp;&nbsp;&nbsp;Run&nbsp;&nbsp;&nbsp;</span>
        </button>
    </div>
{% endblock %}